
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- <ol>
                <li>Create two new Components</li>
                <li>Output them beneath each other in the appComponent</li>
                <li>Output them beneath each other in the appComponent</li>
                <li>Output them beneath each other in the appComponent</li>
            </ol> -->
            <p>I'm in the AppComponent!</p>
            <hr>
            <!-- <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert> -->
            <app-servers></app-servers>
        </div>
    </div>
</div>
